*{
    margin:0;
    pardding:0;
    box-sizing: border-box;
}
ol{
    list-style: none;
}
header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: cornflowerblue;
    padding: 1rem;
    color: white;
    border-radius: 1rem;
      margin: 10px;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
      margin: 10px;
}
h1{
   font-size: 2rem;
    font-weight: bold;
 }

li{
    margin: 5px 10px;
}
.explaination{
    background-color: lightblue;
    width: 100%;
    border-radius: 1rem;
    padding: 0.5rem;

}
.number {
    color: black;
    font-size: 2rem;
}
.text{
    color: black;
    font-size: 2rem;
}